google-cloud-storage
google-cloud-vision
pillow
xformers==0.0.24
torch==2.2.0
torchvision
huggingface-hub
chainlit
pydantic
timm
loguru
einops
sse-starlette
scikit-learn
pillow
pandas
tqdm
accelerate
flash_attn
peft
transformers @ git+https://github.com/huggingface/transformers
sentencepiece
huggingface_hub
matplotlib
torchvision
vit-pytorch
efficientnet-pytorch
efficientnet